BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
DerivePointerAlignment: false
IndentPPDirectives: BeforeHash
PointerAlignment: Left
# Include order (naming.md N-8): own header, first-party, third-party, system; one blank line between.
IncludeBlocks: Regroup
IncludeIsMainRegex: '(_test)?$'
IncludeCategories:
  - Regex: '^"(ez|ezego|support)/'
    Priority: 2
  - Regex: '^<(sys/|mach/|unistd\.h|fcntl\.h|pthread\.h|dlfcn\.h|signal\.h|errno\.h|time\.h|windows\.h|io\.h)'
    Priority: 4
  - Regex: '^<[a-z_0-9]+>$'
    Priority: 4
  - Regex: '^<'
    Priority: 3
  - Regex: '.*'
    Priority: 5
